#all-players-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

div{
  display: flex;
}

.player{
  width: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  width: 50%;
  justify-content: center;
}